/* Style for heading for main page */

.x-axis text {
  font-family: Raleway;
  font-size: 11px;
}
.y-axis text {
  font-family: Raleway;
  font-size: 11px;
}
.indexElements {
  display: block;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  font-family: Raleway;
  font-size: 0.7em;
  height: 3em;
  background: #ffffff;
}
#visualisation {
  margin-top: 5%;
  display: inline-block;
  width: 80%;
  height: 500px;
}
.graphPath {
  display: block;
}

.graphText {
  font-family: Raleway;
  font-size: 0.5em;
  font-weight: 700;
  display: 'block';
}
.allIndexButtons {
  width: 19%;
  display: inline-block;
}

.pastEnergyDataButton {

}

.pieChart {
  margin: 0 9.6%;
  display: inline;
  width: 30%
}
