/* Style for heading for main page */
html
{
  height:100%;
}
body
{
  background: #fff3e6;
  height: 100%;
  margin: 0 0;
}
.heading
{
  display: inline-block;
  margin: auto;
  width:100%;
}
.mainHeading
{
  font-size : 5em;
  font-weight: 100;
  text-align: center;
}
/* room styling */
.room-image
{
  width:100%;
  height:25%;
  background-color: #fff3e6;
  position:fixed;
  top:0;
  box-shadow: 2px 2px 20px #888888;
}
.japanese-room
{
  background-image: url('/assets/japanese.jpg');
}
/*style the breaker*/
.devices-line-breaker
{
  width: 90%;
  height: 2px;
  background-color: #888888;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*Style the button*/
.compare-to-button-section
{
  width:100%;
  height:250px;
  background-color: #fff3e6;
  position:fixed;
  bottom:0;
}
.compare-to-button
{
  text-align: center;
  line-height: 250px;
}
.compare-to-button-text
{
  display: inline;
  padding: 30px 30px;
  font-size : 3em;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  background-color: #737373;
  border-radius: 20px;
  box-shadow: 2px 2px 20px #888888;
  text-decoration: none;
}
/*Information about the device*/
.device-details
{
  margin-left: 7%;
}
.device-name-power
{
  font-weight: 700;
  font-size : 3em;
}
.device-compare
{
  color: #777777;
  font-weight: 400;
  font-size : 2.5em;
}
.test-text
{
  font-size : 2.5em;
  font-weight: 100;
  text-align: center;
}

.device-content
{
  margin-top: 50%;
}
